In [8]:
import torch
import pandas as pd

df = pd.read_csv('data/training_data_features.csv')

df1 = df.iloc[:,7:-200]
df1

,Hydrophobicity,Shannon_entropy,IDR_frac,pI,AA_A,AA_C,AA_D,AA_E,AA_F,AA_G,...,Arom_LCR,HB_LCR,HB_LCR_frac,Polar_LCR_frac,Arom_LCR_frac,Cation_LCR_frac,Anion_LCR_frac,delta_5_HB,reshuffled_sequence,delta_5_HB_RS
0,-319.7,4.086236,0.245184,6.434197,38,5,28,57,14,41,...,1,18,0.211765,0.294118,0.011765,0.211765,0.282353,0.316979,HEPDVHLAAKITENGEVDNDVPYKFEIQGVCKDEIEIVVVEKNGML...,0.301714
1,-309.6,2.734151,1.000000,4.050028,4,0,5,0,0,53,...,25,3,0.015228,0.832487,0.126904,0.005076,0.020305,0.110362,YGGYSQYYGSQGQYGQSYPPYTGSGSSSGYGSQSSGPSSDGSNMSQ...,0.098055
2,-838.9,3.669713,1.000000,9.770135,52,1,15,45,10,12,...,3,73,0.203343,0.573816,0.008357,0.133705,0.086351,0.382413,SPVQQLHTPHPLGHSPPAKQESQKRPSTEHPTSLLMADEEARPNSP...,0.338669
3,-194.8,4.023415,0.383743,5.172030,40,3,26,42,26,54,...,7,11,0.110000,0.620000,0.070000,0.140000,0.080000,0.323083,GTEQYFVSGAGRCGLQSLTGTGMSGFEQIRERIGINSEVPTQALGK...,0.267511
4,-709.4,3.593170,1.000000,10.008862,14,1,29,21,4,67,...,4,23,0.092369,0.622490,0.016064,0.212851,0.064257,0.362217,HDSPDGNTISQPLSHSMNFSSGSTSDHGNSSGFGSQLVAKPGPGHP...,0.346783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,-29.7,3.978553,0.000000,4.990714,15,3,9,10,1,11,...,1,9,0.600000,0.000000,0.066667,0.133333,0.200000,0.201310,DIDKQSDGHESVVANEGELARVNGTAQKIAANTGGALPVYEEVMCQ...,0.270070
354,-197.6,4.106212,0.000000,5.138495,29,1,36,30,14,26,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250761,TVKDTPQLMQLENRNDAQSHKTLAVIYVPGLTYQTANDSIYYFYLG...,0.265181
355,-28.2,4.069591,0.000000,6.106122,12,1,9,15,7,14,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.234024,ILDSKEHMWGLGGPGGGSDVSSDFVAFVLVPKRIRRKYPLWGKHDY...,0.245950
356,-1.4,3.905540,0.000000,5.034650,9,3,5,17,4,8,...,0,3,0.187500,0.125000,0.000000,0.437500,0.250000,0.237255,VSMYGAEVIEREALEGCKVEVSEEVDASYKLFDVPPEGSAEKCPIL...,0.205255
357,-131.0,3.903332,0.075000,8.902069,25,0,12,27,12,31,...,7,27,0.415385,0.292308,0.107692,0.138462,0.138462,0.255682,RKDVGLGPADMANGYIPFHAPKEAAPRRYLSEPELVPKGYPLYTED...,0.254519

In [10]:
df2 = df1.iloc[:,4:24]
df2

,AA_A,AA_C,AA_D,AA_E,AA_F,AA_G,AA_H,AA_I,AA_K,AA_L,AA_M,AA_N,AA_P,AA_Q,AA_R,AA_S,AA_T,AA_V,AA_W,AA_Y
0,38,5,28,57,14,41,13,32,65,34,18,25,25,21,16,31,39,50,4,15
1,4,0,5,0,0,53,0,0,0,0,1,7,11,43,1,51,10,0,0,27
2,52,1,15,45,10,12,33,14,41,39,17,7,145,104,37,57,17,29,1,2
3,40,3,26,42,26,54,4,24,29,43,4,17,26,24,27,60,30,36,5,9
4,14,1,29,21,4,67,20,19,75,24,16,17,55,19,18,171,34,16,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,15,3,9,10,1,11,2,11,13,7,3,5,4,4,1,10,3,9,1,4
354,29,1,36,30,14,26,8,23,31,41,6,25,17,21,20,35,36,45,8,19
355,12,1,9,15,7,14,4,9,12,13,4,5,8,1,10,9,5,19,3,6
356,9,3,5,17,4,8,0,8,12,17,1,4,6,0,6,7,5,14,2,7
357,25,0,12,27,12,31,3,9,15,25,3,4,28,6,27,7,10,23,1,12

In [20]:
lcr_seq = df['LCR_sequence'][0]
lcr_seq.count('A') == df['AA_LCR_A'][0]

True

In [29]:
df.loc[:,'Polar':'HB']

     Polar  Cation  Anion  Arom
0      187      94     85    33
1      175       1      5    27
2      343     111     60    13
3      214      60     68    40
4      364     113     50    11
..     ...     ...    ...   ...
353     40      16     19     6
354    161      59     66    41
355     43      26     24    16
356     33      18     22    13
357     86      45     39    25

[358 rows x 4 columns]

In [2]:
from data/processing.py import

SyntaxError: invalid syntax (1929677652.py, line 1)